<launch>
    <include file="./src/sa-bsn/configurations/target_system/g4t1.launch" /> <!-- APPLICATION -->

    <include file="./src/sa-bsn/configurations/environment/patient.launch " /> <!-- APPLICATION -->

    <include file="./src/sa-bsn/configurations/target_system/g3t1_1.launch" /> <!-- APPLICATION -->
    <include file="./src/sa-bsn/configurations/target_system/g3t1_2.launch" /> <!-- APPLICATION -->
    <include file="./src/sa-bsn/configurations/target_system/g3t1_3.launch" /> <!-- APPLICATION -->
    <include file="./src/sa-bsn/configurations/target_system/g3t1_4.launch" /> <!-- APPLICATION -->
    <include file="./src/sa-bsn/configurations/target_system/g3t1_5.launch" /> <!-- APPLICATION -->
    <include file="./src/sa-bsn/configurations/target_system/g3t1_6.launch" /> <!-- APPLICATION -->
    <include file="./src/sa-bsn/configurations/target_system/g3t1_7.launch" /> <!-- APPLICATION -->

</launch>